{
  "logTo": "stdout",
  "logLevel": "DEBUG",
  "feedRegistryPath": "config/feeds.json",
  "readabilityToken": "3e7f364243ee793537a556b6dee3eed86a045e71",
  "redis": {
    "domain": "localhost:6379",
    "database": "0",
    "pool": "30",
    "process": "1"
   },
  "postgres":{
    "host": "localhost",
    "port": "5432",
    "database": "utisak_development",
    "username": "developer",
    "password": "developer"
  },
  "swiftype":{
    "enabled": false,
    "authToken": "123",
    "engine": "utisak",
    "documentType": "posts"
  }
}
