{
  "logTo": "stdout",
  "logLevel": "DEBUG",
  "baseUrl": "http://localhost:8080",
  "articlePrefix": "vesti",
  "feedRegistryPath": "config/feeds.json",
  "readabilityToken": "3e7f364243ee793537a556b6dee3eed86a045e71",
  "postgres":{
    "host": "localhost",
    "port": "5432",
    "database": "utisak_development",
    "username": "developer",
    "password": "developer"
  },
  "swiftype":{
    "enabled": false,
    "authToken": "123",
    "engine": "utisak",
    "documentType": "posts"
  }
}
